/* .container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: 1fr 50px 1fr 1fr; */
    /* grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header header header"
    "main main . sidebar" "footer footer footer footer";
    column-gap: 5px;
    row-gap: ; */
    /* justify-items: end; */
    /* justify-items: center; */
    /* justify-items: stretch;
    align-items: stretch; */
    /* place-items: center;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    align-content: end;
    place-content: ;
    


} */
/* 
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    justify-content: stretch;
    justify-items: center;   
    
} */

/* .item1{
    grid-area: header;
}

.item2{
    grid-area: main;
}

.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
}  */

/* .item1{
    grid-column: 1/2;
    grid-row: 2/2;
    justify-content: start;
}

.item2{
    grid-column: 2/3;
    grid-row: 2/3;
}

.item3{
    grid-column-start: span 1;
    grid-column-end: span 4;

}

.item4{
    justify-self: center;
    grid-column: 3/4;
    grid-row: 1/3;
}

.item5{
    grid-column: 4/5;
    grid-row: 3/4;
} */


/* body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff8f5;
  margin: 0;
  padding: 20px;
  color: #333;
}

.menu-container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 30px;
}

h1 {
  font-size: 24px;
  color: #A43537;
  border-bottom: 2px solid #A43537;
  padding-bottom: 5px;
  margin-top: 30px;
}

.menu-section {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu-section li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
  font-size: 18px;
}

.menu-section li span {
  font-weight: bold;
  color: #A43537;
} */

/* .box{
  height: 100px;
  width: 100%;
  background-color: green;
}

@media (min-width: 768px) {
  .box{
    background-color: blue;
  }
}

@media (min-width: 1024px) {
  .box{
    background-color: red;
  }
} */

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 1rem;
}

.logo{
  color: #fff;
  font-size: 1.5rem;
  text-align: left;
}

.menu{
  display: none;
  flex-direction: column;
  background: brown;
  position: absolute;
  top: 60px;
  right: 20px;
}

.menu a{
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.hamburger{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* tablet and desktop */
@media (min-width: 768px) {
   .menu{
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
    width: auto;
   }
   .hamburger{
    display: none;
   }
}

